/*!
 * ACME Gree v1.0.0
 * Copyright 2020 
 */

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;      
  color: #FFFFFF;      
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

ul, ol {list-style-type:none;}


.top-header {
  width: 100%;
  height: 30px;       
  background: #69BA15;     
}  

    .free-ship {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;    ;
        text-align: center;
        letter-spacing: -0.015em;           
        color: #FFFFFF;      
        padding-top:5px;      
    }
    
    
.main-header {
    width:100%;
    height:80px;
    background:#20221E;
}

	.logo-wrap {
		padding-top:15px;
	}
	
		
	.navbar {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		align-items: center;
		letter-spacing: -0.015em;		
	}

	.navbar li {		
		display: inline-block;
		text-align: center;    
		padding: 22px 5px;
	}
		.navbar li:last-child {		
			padding-right: 0;
		}
	
		.navbar li a {
			color: #FFFFFF;
			display:block;
		}
		
		.navbar li a:hover {
			color: #69BA15;
			text-decoration:none;
		}
		
	#mobileNav {display:none;}	
	#mobileMenu {display:none;}
	.shownav {display:block !important;}
	
	#mobileMenu .navbar li {		
		display: block;
		text-align: left;
		padding: 10px;
		width: 100%;
	}

.banner-wrap {
	width:100%;
	height:411px;
	overflow:hidden;
}

.ready-wrap {
	width: 100%;
	height: 80px;
	background: #20221E;
}

	.ready-btn {
		background-color:#69BA15;
		width:300px;
		height:40px;
		border-radius:4px;
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.03em;
		color: #FFFFFF;
		margin:20px 0;
	}


.main-content {
	width:100%;
	height:auto;
	background:#515151;
	padding:20px 0 40px 0;
}

	.title-content {
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		letter-spacing: -0.015em;
		color: #FFFFFF;
	}
	
	hr {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  border: 0;
	  border-top: 1px solid #C4C4C4;
	}
	
	.product-top {
		width:994px;
		height:auto;
		margin:0 auto;
		border-top: 1px solid #C4C4C4;	  
		border-bottom: 1px solid #C4C4C4;
		padding:10px 0 5px 0;
	}
	
		.product-top h3 {
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 21px;
			text-align: center;
			letter-spacing: -0.015em;
			color: #FFFFFF;
		}
		
		
	.product-wrap {
		width:994px;
		height:auto;
		margin:0 auto;
		padding:10px 0 5px 0;
	}	
	
		.product-wrap ul {margin:0; padding:0;}
		.product-wrap ul li {display:inline-block; background:#FFFFFF; margin:16px;}
			.product-wrap ul li:first-child {margin-left:0;}
			.product-wrap ul li:last-child {margin-right:0;}
			
		.product-wrap ul li h2.product-title {
			font-weight: 400;
			font-size: 16px;
			letter-spacing: -0.015em;
			color: #69BA15;			
			padding:5px 5px 0 5px;
			margin: 0;
		}
		
		.product-wrap ul li p.product-description {
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			letter-spacing: -0.015em;
			color: #515151;
			padding:0 5px 0 5px;
			margin-bottom: .5rem;
		}
		

.money-back-wrap {
	width: 100%;
	min-height: 150px;
	background: #69BA15;
}		

	.money-inner-wrap {
		width:994px;
		height:auto;
		margin:0px auto;
		padding-top:35px;
	}
	
		.money-inner-wrap p {
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: -0.015em;
			color: #FFFFFF;
		}
		
			.we-all-know {text-align:right; margin-top:35px;}
			
			

.footer-wrap {
	width:100%;
	min-height:412px;
	background:#1C2117;
	padding:80px 0 10px 0;
}		

		.footer-wrap h3 {
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.03em;
			color: #69BA15;
		}
		
		.newsletter {margin-top:20px;}
		.form-inline .form-control {border-radius:0 !important;}
		
		.btn-submit {
			background-color:#69BA15;
			width:100px;
			height:40px;
			border-radius:4px;
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			margin-left: 10px;
			border-radius:0;
		}
		
		.footer-main-menu {margin:0; padding:0;}
			.footer-main-menu li {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				display: flex;
				align-items: center;
				text-align: center;
				letter-spacing: -0.015em;		
				padding:3px 0;
			}
			
				.footer-main-menu li a {color: #FFFFFF; text-decoration:none;}
				.footer-main-menu li a:hover {color: #69BA15; text-decoration:none;}
				
				
		.more-info {margin:0; padding:0;}			
			.more-info li {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				display: flex;
				align-items: center;
				text-align: center;
				letter-spacing: -0.015em;		
				padding:3px 0;
			}
			
			.more-info li a {color: #FFFFFF; text-decoration:none;}
			.more-info li a:hover {color: #69BA15; text-decoration:none;}
		
		p.newsletter-desc {
			font-weight: 300;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			padding-top:20px;
		}
		
		
		.copyright {
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			letter-spacing: 0.03em;
			color: #E5E5E5;
			font-weight: 300;
			padding-top:80px;
		}
		
.green {color:#69BA15;}		
		
		
.narrow-inner-wrap {
	width:994px;
	height:auto;
	margin:0 auto;
}		